.heading{
    color:white;
  }
  
  .cont{
    display:flex;
    justify-content:space-around;
    /* margin:2%; */
    background-color:green;
  }
  .cart_btn{
    padding:10px 50px;
    margin: 20px 0px;
    background-color:blue;
    color:white;
  }
  
  .home_btn{
    padding:10px 50px;
     margin: 20px 0px;
     background-color:blue;
     color:white;
  }
  
  
  @media screen and (max-width:600px){
  .cont{
      display:grid;
    grid-template-columns:auto;
  }
  }